html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: white;
}
body{
    background-color: #0e0e1f;
    margin-bottom: 60px;
}
body::-webkit-scrollbar{
    display: none;
}
.menu{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    transition: background-color .3s ease;
    z-index: 5;
}
.menu div{
    margin: 0 40px;
    display: flex;
    align-items: center;
}
.menu li{
    list-style-type: none ;
    margin: 5px;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
}
header{
    background-image: url(../img/inicio.png);
    height: 98vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: background-image .6s ease;
    animation: slide1 ease infinite 3s;
}
.text01{
    margin-left: 50px;
}
.text01 h1{
    font-size: 60px;
}
.text01 p{
    max-width: 600px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.text01 a{
    text-decoration: none;
    font-size: 24px;
    background-color: #4717F6;
    padding: 15px;
    border-radius: 10px;
    transition: all .3s ease;
}
.text01 a:hover{
    background-color: rgb(39, 43, 43);
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.all{
    background-color: black;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 5px;
    text-decoration: none;
    transition: width .6s ease, height .6s ease;
}
.div{
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .3s ease,opacity .3s ease , background-image .6s ease;
    opacity: 0;
}

.all:hover  .div{
    height: 55px;
    opacity: 1;
}
.n1{
    background-image: url(../img/inici2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .3s ease,opacity .3s ease , background-image .6s ease;
}
.n1:hover{
    background-image: url(../img/giphy.gif);
}
.n2:hover{
    background-image: url(../img/gif2.gif);
}
.n3:hover{
    background-image: url(../img/gif3.gif);
}
.n2{
    background-image: url(../img/n2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .3s ease,opacity .3s ease , background-image .6s ease;
}
.n3{
    background-image: url(../img/n3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .3s ease,opacity .3s ease , background-image .6s ease;
}
.n4{
    background-image: url(../img/n4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .3s ease,opacity .3s ease , background-image .6s ease;
}
.n4:hover{
    background-image: url(../img/gif4.gif);
}
#load{
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 88;
    opacity: 1;
    transition: opacity .6s ease;
}
.spiner{
    width: 5px;
    height: 40px;
    background-color: yellow;
    margin: 5px;
}
.s1{
    height: 15px;
    animation: height infinite 1s alternate;
}
.s2{
    height: 30px;
    animation: height1 infinite 2s alternate;
}
.s3{
    animation: height3 infinite 0.9s alternate;
}
.s4{
    height: 15px;
    animation: height2 infinite 2.5s alternate;
}
@keyframes height{
    to{
        height: 45px;
    }
}
@keyframes height1{
    to{
        height: 15px;
    }
}
@keyframes height2{
    to{
        height: 60px;
    }
}
@keyframes height3{
    to{
        height: 35px;
    }
}
@media (max-width:977px){
    .menu ul{
        display: none;
    }
    .menu div{
        margin: 0;
    }
    .menu{
        justify-content: center;
    }
    .top{
        flex-wrap: wrap;
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .text01{
        margin-left: 10px;
        margin: 0 10px;
    }
    .text01 h1{
        font-size: 40px;
    }
    .text01 p{
        font-size: 18px;
    }
    .all{
        width: 100%;
        height: 400px;
    }
    .cen{
        width: 100%;
        flex-wrap: wrap;
    }
    .box{
        width: 1000px;
    }
    .lested{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.lested{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.lested h1{
    margin-left: 10px;
    margin-bottom: 10px;
}
.cen{
    display: flex;
}
.box{
    width: 320px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.637);
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box img{
    width: 45px;
    height: 45px;
}
.box:hover .escu{
    opacity: 1;
}
.escu{
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .6s ease;
}